<h1>Add the Definition to the Word you Would Like to Learn</h1>

<form action='/word_definition' method='post'>
  <div class='form-group'>
    <label for="definition">Add Definition:</label>
    <input id="definition" value="text" name="definition"  class="form-control" required>
  </div>

  <button type="submit" class="btn btn-outline-primary" name="submit">Add Definition</button>
</form>


<a href="/">Home</a>
