<h4>Word: <%= @word.learn() %></h4>

<form action="/definition" method="post">
  <label for="define">Definition:</label>
  <input id="define" name="define" type="text">
  <button type="submit">Add Definition</button>
</form>

<a href="/">Return to main page</a>
