<h4>Word: <%= @word.learn() %></h4>

<form action="/words" method="post">
  <label for="learn">Definition:</label>
  <input id="learn" name="learn" type="text">
  <button type="submit">Add Definition</button>
</form>

<a href="/">Return to main page</a>
