<h1>Add a Word you Would Like to Learn</h1>

<form action='/word_form' method='post'>
  <div class='form-group'>
    <label for="word">Add Word:</label>
    <input id="word" type="text" name="word"  class="form-control" required>
  </div>

  <button type="submit" class="btn btn-outline-primary" name="submit">Add Word</button>
</form>


<a href="/">Home</a>
